.petscard-container {
    margin-top: 5rem;
}

/* Toast container */
#quiz-toast {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: #1e293b; /* Dark slate background */
    color: white;
    padding: 16px 20px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgb(0 0 0 / 20%);
    z-index: 9999;
    font-family: sans-serif;
    display: flex;
    align-items: center;
    gap: 12px;
    animation: fadein 0.4s ease-in-out;
}

/* Button inside the toast */
.quiz-toast-btn {
    background: #ff9a24;
    color: black;
    padding: 6px 10px;
    border-radius: 6px;
    text-decoration: none;
    font-weight: 600;
    transition: background 0.3s;
}

.quiz-toast-btn:hover {
    background: #eab308;
}

/* Close icon */
.quiz-toast-close {
    cursor: pointer;
    font-size: 18px;
    margin-left: auto;
}

/* Animation */
@keyframes fadein {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@media (width <= 768px) {
    #quiz-toast {
        margin-left: 2rem;
    }
}
