.appbtn p {
    display: flex;
    align-items: center;
    font-size: 1.3rem;
    font-weight: 500;
    color: var(--black);
    transition: all ease-in-out 0.2s;
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin-right: 20px;
}

.btn2 {
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--black);
    transition: all ease-in-out 0.2s;
    background-color: transparent;
    border: none;
    cursor: pointer;
    white-space: nowrap;
    margin-right: 0;
}

.btn2:hover {
    transform: translateX(10px);
}

.afterpaw img {
    width: 29px;
    height: 30px;
}

/* Hide afterpaw by default */
.afterpaw {
    display: none;
}

/* Show afterpaw on hover, hide beforepaw */
.appbtn-wrapper p:hover .afterpaw {
    display: inline;
}

.appbtn-wrapper p:hover .beforepaw {
    display: none;
}

.appbtn p:hover .btn2 {
    transform: translateX(10px);
}
