footer {
    background-color: black;
    color: white;
    padding: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 50px;
    overflow: hidden;
}

.footer > div > div {
    display: flex;
    width: 100%;
}

.footer-brands-wrapper,
.footer-links-wrapper,
.footer-contact-wrapper {
    width: 33.33%;

    /* 100% / 3 boxes */
    box-sizing: border-box;
    padding: 10px;
    text-align: center;
    height: 180px;
    border-bottom: 1px solid rgb(255 255 255 / 50%);
}

@media (width <= 475px) {
  footer {
    flex-direction: column;
    padding: 20px 15px;
    align-items: stretch;
    text-align: center;
  }

  .footer > div > div {
    flex-direction: column;
  }

  .footer-brands-wrapper,
  .footer-links-wrapper,
  .footer-contact-wrapper {
    width: 100%;
    height: auto;
    padding: 25px 10px;
    border-bottom: 1px solid rgb(255 255 255 / 30%);
  }

}
