/* For Fonts */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito Sans", sans-serif;
}

html {
    scroll-behavior: smooth;
}

:root {
    --accent: #cf1717;
    --black: #131313;
}

body {
    min-height: 100vh;
}
